# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/

# Database
*.db

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/dist/

# Logs
*.log
